@import "header/_header-left";
@import "header/_header-search";
@import "header/_searched-keywords";
@import "header/_search-suggestion";
@import "header/_header-right";
@import "header/_sticky-header";

.header-wrap {
    position: relative;
    z-index: 12;
}

.header-wrap-inner {
    padding: 22px 0;
}

.ltr .home-section-inner, .home-section-inner .home-slider-wrap {
    width: 100% !important;
}

.ltr .home-section-inner {
    margin-left: 0 !important;
}

@media screen and (max-width: 991px) {
    .header-wrap-inner {
        padding: 5px 0;
        border-bottom: 1px solid var(--border-color);
    }
}